@model NetRomSummerCampApp.Models.Review

@using (Html.BeginForm("CreateReview", "Home", FormMethod.Post))
{
    <div class="form-inline">
@Html.Hidden("AnnouncementId", Model.AnnouncementId)

@Html.Label("Username")
@Html.TextBox("Username", null, new { @class = "form-control" })


@Html.Label("Rating")
@Html.TextBox("Rating", null, new { @class = "form-control" })

    </div>
    


    @Html.Label("Comment")
    
    @Html.TextArea("Comment", null, new { @class = "form-control" })
       
    <button class="btn btn-default" type="submit">Comment</button>

}
 








