@model NetRomSummerCampApp.Models.Review  

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="well well-lg">

    <h2><kbd>Title:</kbd> @ViewBag.announcement.Title</h2>
    <h3><kbd>Category:</kbd> @ViewBag.announcement.CategoryName</h3>
    <p><kbd>Description:</kbd>@ViewBag.announcement.Description</p>
    <kbd>Status:</kbd>@if (@ViewBag.announcement.Closed == false)
    {
        <p class="text-success">Open </p>
    }
    else
    {
        <p class="text-danger">Closed</p>
    }
    <div align="right">
        @Html.ActionLink("Close", "Close","EditAnnouncement", new { id = @ViewBag.announcement.Id },null)
        @*@Html.ActionLink("Close", "Close", "EditAnnouncement")*@
        @Html.ActionLink("Extend", "Extend", "EditAnnouncement", new { id = @ViewBag.announcement.Id }, null)
        @*@Html.ActionLink("Extend", "Extend", "EditAnnouncement")*@


    </div>
  </div>








@Html.Partial("NewComment", Model)


<br /><br /> <br />
<div class="container">
    @foreach (var c in ViewBag.Comments)
    {

        <div class="panel panel-default">
            <div class="panel-heading">
                @c.Username
            <p> Star: @c.Rating</p>
        </div>
        <div class="panel-body">@c.Comment</div>

    </div>

    }
</div>



